---
layout: research
title: Katie Deaven
---

<h1 class="pageTitle">{{ site.research.title }}</h1>
<hr class="solid">

{% if site.research.overview_content %}
<h2 class="pageTitle">Overview</h2>
<p class="pageContent">{{ site.research.overview_content }}</p>
{% endif %}

{% if site.research.review_content %}
<h2 class="pageTitle">Under Review</h2>
<h3 class="pageTitle">site.research.review_content.title</h3>
<p class="pageContent">{{ site.research.review_content.content }}</p>
{% endif %}

{% if site.research.progress_content %}
<h2 class="pageTitle">In Progress</h2>
<h3 class="pageTitle">site.research.progress_content.title</h3>
<p class="pageContent">{{ site.research.progress_content.content }}</p>
{% endif %}